<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 重点：一个mapper对应一个接口，所以需要用namespace-->
<mapper namespace="com.mmxmmx.dao.BookMapper">
    <!--接下来写dao中对应的sql语句-->
    <insert id="addBook" parameterType="Books">
        insert into ssm.books (bookName,bookCounts,detail)
        values (#{bookName},#{bookCounts},#{detail});
    </insert>

    <delete id="deleteBookById" parameterType="int">
       delete from ssm.books where bookID = #{bookId}
    </delete>

    <update id="updateBook" parameterType="Books">
        update ssm.books set bookName=#{bookName},bookCounts=#{bookCounts},detail=#{detail}
        where bookID=#{bookID};
    </update>
    <select id="queryBookById" resultType="Books">
        select * from ssm.books where bookID=#{bookId};
    </select>
    <select id="queryAllBook" resultType="Books">
        select * from ssm.books;
    </select>
</mapper>







